.useful_stuff_main {
    margin: 0 360px;
    padding: 100px 0;
}

.search_useful_stuff {
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    border: 1px solid #18212a;
    width: 350px;
    gap: 100px;
    margin: 0 auto 60px auto;
}

.search_useful_stuff input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
}

.search_useful_stuff .icon-us {
    color: #969393;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.switcher {
    margin: 0 0 20px 20px;
}

.stuff_list {
    display: flex;
    flex-direction: column;
}

.stuff_list-item {
    border: 1px solid #18212a;
    border-radius: 20px;
    padding: 10px 10px;
    margin-bottom: 10px;
    transition: 0.5s ease-in-out;
}

.stuff_list-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.useful_stuff_img {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 5px 15px 0 0;
}

.stuff_list-item h2 {
    margin-bottom: 3px;
}

.stuff_list-item h5 {
    margin-bottom: 7px;
}

.stuff_list-item p {

}